body {
  background-image: url("https://i.imgur.com/REy9HbA.jpeg");
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  color: whitesmoke;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

.Header {
  margin: 0 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 48px;
}

a {
  color: inherit;
  font: inherit;
  text-decoration: none;
  cursor: pointer;
}

.Header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: whitesmoke;
  color: rgb(3, 86, 98);
  padding: 10px;
  font-size: 26px;
}

.Projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.example {
  margin-top: 30px;
  width: 45%;
  border: 1px solid #555358;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(2, 51, 59, 0.5);
}

h2 {
  font-size: 28px;
  font-weight: 700;
}

.example img {
  height: 50%;
  width: 50%;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 15px;
}

.example .links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 700;
}

li {
  list-style: none;
  align-items: left;
}
